@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: rgb(39, 39, 39);
}

header{
    color: white;
    background-color: black;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 3em;
}

header p{
    padding-bottom: 50px;
    font-size: 1em;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.imagem p{
    width: 300px;
    background-color: rgba(0, 0, 0, 0.253);
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: black;
    color: white;
}

#flores{
    background-color: black;
    background-image: url('imagens/background001.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}

#livro{
    background-color: black;
    background-image: url('imagens/background002.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

footer{
    padding: 10px;
    text-align: center;
    color: white;
    background-color: black;
}

